.global-body {
	header {
		> h1 {
			margin: 0;
			padding-top: 45px;
			padding-bottom: 30px;
		}
	}

	h2 {
		font-size: 18px;
		font-weight: bold;
		margin-top: 33px;
		margin-bottom: 11px;

		&:first-child {
			margin-top: 0;
		}
	}

	p {
		img {
			padding: 5px 0;

			&.icon-no-java {
				padding-left: 16px;
			}
		}
	}

	.legal-term {
		@extend .text-keep-together;
		font-variant: small-caps;
		text-transform: none;
		background-color: white;
	}
}