.nav-tabs {
	> li {
		> a {
			border: 1px solid transparent;
			line-height: 16px;
			border-radius: 0;
			padding: 12px 15px 10px;
			margin: 0;

			&:hover,
			&:focus {
				background-color: rgba($color-gray, 0.3);
				border-color: transparent;
			}
		}

		&.active {
			> a {
				color: $color-gray-light;
				border-color: rgba($color-gray, 0.3);
				min-height: 40px;
				border-bottom-width: 0;
			}
		}
	}
}