/*

Component: SCROLLBARS (for Filters)

*/
.scroll {
	&-wrapper {
		overflow: hidden !important;
		padding: 0 !important;
		position: relative;

		> .scroll-content {
			border: none !important;
			box-sizing: content-box !important;
			height: auto;
			left: 0;
			margin: 0;
			max-height: none;
			max-width: none !important;
			overflow: scroll !important;
			padding: 0;
			position: relative !important;
			top: 0;
			width: auto !important;

			&::-webkit-scrollbar {
				height: 0;
				width: 0;
			}
		}
	}

	&-element {
		display: none;

		&,
		div {
			box-sizing: content-box;
		}

		&.scroll {
			&-x.scroll-scrollx_visible,
			&-y.scroll-scrolly_visible {
				display: block;
			}
		}

		.scroll-bar,
		.scroll-arrow {
			cursor: default;
		}
	}

	&-textarea {
		border: 1px solid #cccccc;
		border-top-color: #999999;

		> .scroll-content {
			overflow: hidden !important;

			> textarea {
				border: none !important;
				box-sizing: border-box;
				height: 100% !important;
				margin: 0;
				max-height: none !important;
				max-width: none !important;
				overflow: scroll !important;
				outline: none;
				padding: 2px;
				position: relative !important;
				top: 0;
				width: 100% !important;

				&::-webkit-scrollbar {
					height: 0;
					width: 0;
				}
			}
		}
	}
}

.scrollbar {
	&-outer {
		> .scroll {
			&-element {
				background-color: #f3f3f3;

				&,
				div {
					border: none;
					margin: 0;
					padding: 0;
					position: absolute;
					z-index: 10;
				}

				div {
					display: block;
					height: 100%;
					left: 0;
					top: 0;
					width: 100%;
				}

				&.scroll {
					&-x {
						bottom: 0;
						height: 12px;
						left: 0;
						width: 100%;

						.scroll-element_outer {
							height: 8px;
							top: 2px;
						}

						.scroll-bar {
							min-width: 10px;
						}

						&.scroll-scrolly_visible {
							.scroll-element_track {
								left: -14px;
							}

							.scroll-element_size {
								left: -14px;
							}
						}
					}

					&-y {
						height: 100%;
						right: 0;
						top: 0;
						width: 12px;

						.scroll-element_outer {
							left: 5px;
							width: 7px;
						}

						.scroll-bar {
							min-height: 10px;
						}

						&.scroll-scrollx_visible {
							.scroll-element_track {
								top: -14px;
							}

							.scroll-element_size {
								top: -14px;
							}
						}
					}

					&-draggable {
						.scroll-bar {
							background-color: rgba(0, 103, 122, .8);
						}
					}
				}

				.scroll {
					&-element {
						&_outer {
							border-radius:8px;
							overflow: hidden;
						}

						&_track {
							 border-radius:8px;
							background-color: rgba(0, 103, 122, .1);
						}
					}

					&-bar {
						 border-radius:8px;
						background-color: rgba(0, 103, 122, .3);

						&:hover {
							background-color: rgba(0, 103, 122, .5);
						}
					}
				}
			}

			&-content.scroll-scroll {
				&y_visible {
					left: -12px;
					margin-left: 12px;
				}

				&x_visible {
					top: -12px;
					margin-top: 12px;
				}
			}
		}
	}
}