.split {
	flex: 1 1 auto;
	display: flex;
}

.gutter {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50%;
	
	&-horizontal {
		cursor: col-resize;
		
		&:before {
			content: '';
			display: block;
			width: 4px;
			height: 49px;
			top: 50%;
			margin: auto;
			margin-top: -24px;
			z-index: 1000;
			position: relative;
			border-left: 1px dotted $color-gray-pale;
			border-right: 1px dotted $color-gray-pale;
		}
		
		&:hover {
			&:before {
				border-color: $color-gray;
			}
		}
		
		&:active {
			&:before {
				border-color: black;
			}
		}
	}
	
	&-vertical {
		cursor: row-resize;
		
		&:before {
			// TODO: create vertical handle
		}
	}
}