/*

PAGE
Browser Not Supportd

*/
.browser-not-supported {
	margin-bottom: 0;
	
	header.global {
		.navbar {
			padding: 65px 0 29px;
		}

		.navbar-brand {
			width: 127px;

			a {
				display: block;
				background-image: url("../img/sprite--nomura-logo--v1.0.png");
				background-repeat: no-repeat;
				background-position: -67px -79px;
				width: 96px;
				height: 17px;
				position: absolute;
				top: 14px;
				left: 15px;
				
				&:before {
					background: none;
				}
			}
		}
	}

	main.global {
		padding: 30px 0 62px;

		header > h1 {
			padding-top: 0;
		}
		
		h2 {
			font-size: 18px;
			font-weight: bold;
			margin: 33px 0 11px;
		}

		.download-browser {
			display: inline-block;
			clear: both;
			padding: 5px 0 0;

			> div {
				display: block;
				float: left;
				width: 132px;
				padding-right: 15px;

				> a {
					display: inline-block;
					line-height: 16px;
				}

				> p {
					margin: 10px 0 0;
					font-size: 13px;
					line-height: 100%;
				}
			}

			.img {
				background-image: url("../img/browser-support.png");
				background-repeat: no-repeat;
				display: block;
				width: 64px;
				height: 64px;
				margin-bottom: 14px;
			}

			.chrome .img {
				background-position: -155px -6px;
			}

			.ie .img {
				background-position: -81px -6px;
			}

			.safari .img {
				background-position: -229px -6px;
			}
		}
	}

	footer.global {
		position: static;

		&:before {
			content: "";
			display: block;
		}

		.disclaimer--japan-domicile {
			background-color: transparent;
			color: #a0a0a0;
		}

		> .legal {
			border-top: 1px solid #b9b9b9;
			background-color: transparent;
			color: #a0a0a0;

			.copyright {
				padding: 9px 15px 91px;
			}
		}
	}
}