/*

XS (Smartphones)
< 768px

*/

@media screen and (max-width: 472px) {
	main.global {
		.search-results {
			ol {
				> .item {
					> .secondary {
						.analyst-menu {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 650px) and (max-width: $screen-xs-max) {
	header.global {
		.menu {
			> li {
				@include make-xs-column(2);
			}
		}
	}
}

@media screen and (max-width: $screen-xs-max) {
	header.global {
		.megamenu {
			> .dropdown {
				&--aclass {
					&--economics {
						& {
							.dropdown-toggle:before {
								background-position: -131px -47px;
							}
						}

						&.open {
							.dropdown-toggle:before {
								background-position: -131px -89px;
							}
						}
					}

					&--equity {
						& {
							.dropdown-toggle:before {
								background-position: -47px -47px;
							}
						}

						&.open {
							.dropdown-toggle:before {
								background-position: -47px -89px;
							}
						}
					}

					&--credit {
						& {
							.dropdown-toggle:before {
								background-position: -173px -47px;
							}
						}

						&.open {
							.dropdown-toggle:before {
								background-position: -173px -89px;
							}
						}
					}

					&--markets {
						& {
							.dropdown-toggle:before {
								background-position: -5px -47px;
							}
						}

						&.open {
							.dropdown-toggle:before {
								background-position: -5px -89px;
							}
						}
					}

					&--rates {
						& {
							.dropdown-toggle:before {
								background-position: -299px -47px;
							}
						}

						&.open {
							.dropdown-toggle:before {
								background-position: -299px -89px;
							}
						}
					}

					&--fx {
						& {
							.dropdown-toggle:before {
								background-position: -215px -47px;
							}
						}

						&.open {
							.dropdown-toggle:before {
								background-position: -215px -89px;
							}
						}
					}

					&--global-strategy {
						& {
							.dropdown-toggle:before {
								background-position: -89px -47px;
							}
						}

						&.open {
							.dropdown-toggle:before {
								background-position: -89px -89px;
							}
						}
					}

					&--quants {
						& {
							.dropdown-toggle:before {
								background-position: -341px -47px;
							}
						}

						&.open {
							.dropdown-toggle:before {
								background-position: -341px -89px;
							}
						}
					}
				}
			}
		}
	}

	 {
		#top-tabs {
			nav {
				a {
					padding: 15px;

					span {
						display: none;
					}

					&:before {
						display: inline-block;
						position: relative;
						top: 0;
						left: 0;
					}
				}

				ul {
					width: 100%;
					text-align: center;

					li {
						width: calc(25% + 1px);
						margin: 0 0 0 -1px;

						a {
							width: 100%;
							text-align: center;
						}

						&:last-child {
							border-right: none;
						}
					}
				}
			}

			.content {
				section {
					.tbl {
						.item {
							.publication {
								width: 82.65734265734266%;
							}

							.analyst {
								display: none;
							}

							.published-date {
								width: 17.34265734265734%;
								padding-left: 0;
							}
						}
					}
				}
			}
		}

		.search {
			&-filters {
				padding-top: 15px;
				padding-bottom: 15px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 1031;
				display: block;

				&:before {
					content: "";
					display: block;
					position: fixed;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: #f3f3f3;
					width: 100%;
					z-index: -1;
				}

				.badge {
					font-size: 19px;
					height: 21px;
					padding: 2px 9px;
					border-radius: 11px;
				}

				> header {
					padding: 10px 10px 10px 14px;
					margin-bottom: 19px;

					> .close {
						position: relative;
						width: 25px;
						height: 25px;
						opacity: 1;
						background: inherit;
						outline: none;

						> .line {
							position: absolute;
							left: 0;
							display: block;
							width: 100%;
							height: 2px;
							background-color: black;

							&-top {
								top: 0;
								transform: translateY(13px) translateX(0) rotate(45deg);
							}

							&-btm {
								bottom: 0;
								transform: translateY(-10px) translateX(0) rotate(-45deg);
							}
						}
					}

					> h4 {
						font-size: 21px;
						line-height: 25px;
						font-weight: bold;
						color: #a0a0a0;
					}

					+ .body {
						padding-bottom: 47px;
					}
				}

				> .body {
					> .asset-classes {
						ul {
							border-top-width: 2px;
							border-bottom-width: 2px;
							font-size: 21px;
							line-height: 25px;

							> li {
								border-bottom-width: 2px;

								&:last-child {
									border: none;
								}

								.checkbox {
									> .badge {
										top: 19px;
										right: 14px;
										font-size: 19px;
										font-weight: normal;
										border-radius: 11px;
										padding: 2px 11px;
										height: 22px;
									}

									> label {
										padding: 18px 14px 18px 36px;

										> input[type="checkbox"] {
											margin: 0 10px 0 -22px;
											top: -2px;
											position: relative;
										}
									}
								}
							}
						}
					}

					> .filters {
						margin-top: 60px;

						.panel {
							border-bottom-width: 2px;

							&-heading {
								position: relative;

								> .panel-title {
									font-size: 18px;
									line-height: 20px;

									a {
										&:visited,
										&:link,
										&:active,
										&:hover {
											padding: 20px 15px 19px 30px;
										}

										&:before {
											font-size: 15px;
											line-height: 100%;
											left: 7px;
											top: 21px;
										}

										&.collapsed {
											&:before {
												left: 10px;
												top: 22px;
											}
										}
									}
								}

								> button.reset {
									right: 14px;
									font-size: 18px;
									line-height: 100%;
									padding: 6px 9px;
									border-radius: 5px;
								}
							}

							&-body {
								padding: 0 15px 15px 30px;

								.checkbox {
									margin: 18px 0;

									&:first-child {
										margin-top: 3px;
									}

									&:last-child {
										margin-bottom: 9px;
									}

									label {
										font-size: 18px;
										line-height: 21px;
										padding-left: 22px;
									}

									input[type="checkbox"] {
										margin: 0;
										margin-left: -22px;
										top: 3px;
									}
								}

								.form-group {
									label {
										font-size: 16px;
										margin-bottom: 4px;
									}

									input {
										font-size: 18px;
										padding: 22px 13px;
										border-radius: 5px;
									}
								}
							}

							&-group {
								border-top-width: 2px;
								border-bottom-width: 2px;
							}

							#filter {
								&--region {
									.regions-map {
										width: 370px;
										height: 194px;
										background-color: rgba(255, 0, 255, 0.1);
										background-image: none;
										margin-bottom: 14px;

										&--emea {
										}
									}

									.col {
										margin: 0;
										padding-left: 24px;

										+ .col {
											padding-left: 0;
										}

										> .checkbox {
											&:first-child {
												margin-top: 0;
											}
										}
									}
								}
							}

							footer {
								margin: 18px 0 2px;

								> button.more {
									font-size: 18px;
									line-height: 21px;
								}
							}
						}

						.input-group {
						}

						.checkbox {
							&:first-child {
							}

							&:last-child {
							}

							> .badge {
								font-size: 18px;
								height: 21px;
								padding: 2px 9px;
								border-radius: 11px;
							}

							> label {
							}

							input[type="checkbox"] {
							}
						}
					}
				}

				> footer {
					text-align: right;
					position: fixed;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: white;
					padding: 15px;
					margin-top: 0;

					button + button {
						margin-left: 10px;
					}
				}
			}
		}
	}
}
