/*

SM (Tablets)
768px ÷ 991px

*/
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.global {
		&-header {
			.navbar {
				&-header {
					&:before {
						left: -2881px;
					}
					
					&:after {
						left: 173px;
					}
				}
			}
		}
	}

	.hidden-sm {
		display: none;
	}
}