.dropdown-menu > .disabled {
	> a {
		&,
		&:hover,
		&:focus {
			color: #b6b6b6;
		}
	}
}

.form-group {
	.form-control {
		&-xs {
			height: 22px;
			padding: 1px 8px;
			font-size: 12px;
			border-radius: 3px;
		}

		+ .fa {
			transform: rotate(0.001deg);
			position: absolute;
			top: 9px;
			left: 7px;
		}
	}
}

input {
	&[type="number"] {
		text-align: right;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.fa {
	&-folder {
		color: #e2c986;
	}

	&-line-chart {
		color: $color-red;
	}
}

.ui-resizable {
	&-handle {
		position: absolute;

		&.ui-icon-gripsmall-diagonal-se {
			background: url("../static/img/ui-icon--resizable.png") no-repeat;
		}
	}

	&-se {
		width: 20px;
		height: 20px;
		right: -4px;
		bottom: -4px;
		cursor: nwse-resize;
	}

	&-s {
		width: 100%;
		height: 10px;
		bottom: -5px;
		left: 0;
		cursor: ns-resize;
	}

	&-e {
		height: 100%;
		width: 10px;
		right: -5px;
		top: 0;
		cursor: ew-resize;
	}
}

.modal {
	text-align: center;
	overflow: hidden;

	&:before {
		content: " ";
		display: inline-block !important;
		vertical-align: middle;
		height: 100%;
	}

	&-open {
		.modal {
			overflow-y: hidden;
		}
	}

	&-dialog {
		display: inline-block !important;
		text-align: left;
		vertical-align: middle;
		margin: 45px auto;

		@at-root .ui-resizable#{&} {
			@include breakpoint(screen min-width $screen-md-min) {
				width: 972px;
			}
		}

		@include breakpoint(screen max-width $screen-sm-max) {
			margin: 0;
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;

			.modal.in & {
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.modal-content {
			background-color: #f3f3f3;
			display: flex;
			flex-direction: column;
			height: 100%;
			box-shadow: 0 0 30px rgba(black, 0.5);

			@include breakpoint(screen max-width $screen-sm-max) {
				border-radius: 0;
				border-left: none;
				border-right: none;
			}
		}

		.modal-header {
			border-bottom: 1px solid $color-gray-pale;
			padding: 15px 15px 10px;
			border-bottom: none;
			flex: 0 0 auto;
			width: 100%;
			cursor: default;

			&.mouse-down {
				cursor: move;
			}

			> header {
				.close {
					margin-top: -4px;
					outline: none;
				}

				> h4 {
					text-align: center;
					margin: 0;
					padding-left: 14px;
					padding-right: 14px;
					line-height: 14px;
				}

				+ .toolbar {
					margin-top: 10px;
					margin-left: -15px;
					margin-right: -15px;

					> .buttons {
						display: table;

						> * + * {
							margin-left: 10px;
						}
					}
				}
			}

			> .toolbar {
				@extend .clearfix;

				.btn {
					&:hover {
						background-color: inherit;
						border-color: rgba(115, 115, 115, 0.3);
					}

					&:focus,
					&.focus {
						background-color: transparent;
						border-color: rgba(115, 115, 115, 0.3);
					}

					&:active,
					&.active {
						box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
						background-color: rgba(0, 0, 0, 0.35);
						border-color: #737373;
						color: white;

						i.fa {
							color: white;
						}
					}

					i.fa {
						font-size: 14px;
						height: 16px;
						color: black;

						// TOFIX: This makes the jump 1px up in IE when btn clicked.
						&:before {
							vertical-align: middle;
							display: inline-block;
						}
					}
				}

				.btn-group {
					> .btn {
						&:active,
						&.active,
						&:focus,
						&.focus {
							box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
							cursor: default;
							background-color: rgba(0, 0, 0, 0.35);
							border-color: #737373;
							color: white;

							i.fa {
								color: white;
							}
						}
					}
				}
			}
		}

		.modal-body {
			background-color: white;
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			overflow-y: hidden;
			border-top: 1px solid $color-gray-pale;
			border-bottom: 1px solid $color-gray-pale;

			@at-root .ui-resizable#{&} {
				padding: 0;
			}

			#grid-saved-charts {
				padding: 0;
				align-items: stretch;
				display: flex;
				flex: 1 1 auto;
				flex-direction: column;

				.slick-header.ui-state-default,
				.slick-headerrow.ui-state-default {
					border-bottom: 1px solid silver;
				}

				.slick-header-columns,
				.slick-headerrow-columns {
					margin-top: 5px;
					margin-bottom: 4px;
				}

				.slick-header-column.ui-state-default {
					padding-left: 10px;
					padding-right: 10px;
					line-height: 14px;
				}

				.slick-viewport {
					border: none;
					flex: 1 1 auto;
					overflow: auto !important;

					.slick-row {
						&:hover {
							background: #dedede;
							transition: color 0.15s ease, background 0.15s ease;
						}

						.slick-cell {
							padding: 2px 10px;
							height: 100%;
							color: black;

							> .fa-stack {
								line-height: 16px;
								width: 16px;
								height: 16px;
								margin-right: 3px;
								vertical-align: text-top;
							}
						}

						&.active {
							background-color: #737373 !important;

							> .slick-cell {
								color: white;
							}
						}
					}
				}
			}

			.breadcrumb {
				padding: 8px 15px;
				border-top: 1px solid $color-gray-pale;
			}

			.slick {
				&-pane {
					&-header {
						position: absolute;
					}
				}
			}
		}

		.modal-footer {
			display: table;
			flex: 0 0 auto;
			width: 100%;
			border-top: none;

			> * {
				margin: 0;

				&:not(:first-child) {
					margin-left: 10px;
				}
			}
		}
	}

	&#modal-add {
		.modal-body {
			.leaf-col {
				display: block;
				align-items: inherit;
				padding: 15px;

				.leaf-row {
					display: block;

					> i {
						display: block;
					}
				}
			}

			> #tree {
				overflow: auto;
				width: 100%;
				display: flex;
				flex: 1 1 auto;

				.pane-tree {
					overflow-y: scroll;
				}

				.pane-properties {
					padding: 15px;
					display: block;
					overflow-y: scroll;

					> .zero {
						display: flex;
						flex-direction: column;
						height: 100%;
						align-items: center;
						justify-content: center;
					}
				}
			}

			.properties {
				width: 100%;

				&-series {
					padding: 0;

					.fa-stack-1x {
						position: unset;
						line-height: 1;
					}

					> .leaf-row {
						flex-grow: 1;
					}
				}

				pre {
					padding: 0;
					border: none;
					background: transparent;
				}

				header {
					padding-top: 24px;
					color: $color-blue-light;
					display: flex;
					justify-content: space-between;

					h3 {
						margin: 0;
						font-size: 18px;
						font-weight: bold;
						padding-right: 10px;
						line-height: 1;

						> code {
							font-size: inherit;
							display: block;
							border-radius: 0;
							background: transparent;
							padding: 0;
							color: $color-blue-light;
						}

						+ span {
							display: flex;
							flex: 1;
							align-items: flex-end;

							> small {
								font-size: 14px;
								line-height: normal;
								margin-right: 10px;
							}

							> .help {
								line-height: 14px;
								font-size: 12px;
								border: 0;
								color: black;
								margin-left: auto;
								padding: 0;

								&:after {
									content: "\f107";
									font-family: "FontAwesome";
									font-size: 14px;
									display: inline-block;
									margin-left: 3px;
									vertical-align: text-bottom;
									line-height: normal;
									width: 9px;
									text-align: center;
								}

								&.collapsed {
									background: transparent;
									box-shadow: none;

									&:after {
										content: "\f105";
									}
								}

								&:active,
								&.focus {
									background: transparent;
									box-shadow: none;
								}
							}
						}
					}
				}

				dl {
					display: inline-block;
					width: 100%;

					code {
						&.hljs {
						}
					}

					> dt {
						font-size: 12px;
						margin-top: 15px;
					}

					> dd {
						> .checkbox {
							margin: 8px 0 0;
							line-height: 14px;

							&:first-child {
								margin-top: 4px;
							}

							> label {
								font-size: 12px;
								min-height: auto;
								display: block;

								> input {
									position: static;
									margin-top: -2px;
									margin-right: 5px;
									vertical-align: middle;
									height: 12px;
									width: 12px;
								}

								> .legend {
									vertical-align: middle;
									display: inline-block;
									width: 16px;
									height: 12px;
									margin-right: 4px;
									margin-top: -1px;
								}

								> .var {
									font-weight: bold;
									display: inline-block;
								}
							}
						}

						> *:last-child {
							margin-bottom: 0;
						}
					}
				}

				.meta {
					margin-top: 1.5em;
					font-size: 0.7em;

					&-item:not(:first-child) {
						margin-top: 0.5em;
					}

					strong {
						color: #c1c1c1;
						font-weight: normal;
					}
				}
			}

			.breadcrumb {
				font-size: 12px;
				padding: 7px 15px;
				flex-shrink: 0;

				> li {
					float: left;
					line-height: normal;

					&:first-child {
						&:before {
							display: none;
						}
					}

					&:before {
						@extend .fa;
						content: "\f105";
						color: $color-gray-light;
						padding: 0 7px;
					}

					> a {
						text-decoration: underline;
						cursor: pointer;

						&:active,
						&:hover {
							text-decoration: none;
						}
					}
				}

				.root {
					font-weight: bold;
				}

				.active {
					color: $color-gray-light;
				}
			}
		}
	}

	&#modal-io {
		.modal-body {
			#js-tree {
				overflow-y: scroll;
			}
		}
	}
}

.jstree-default {
	.jstree-anchor {
		-webkit-user-drag: none;
	}
}

.fjs-item {
	a {
		-webkit-user-drag: none;
	}
}

main.global {
	> main {
		+ footer {
			margin-top: 15px;
		}

		> .toolbar {
			padding-top: 10px;
			padding-bottom: 10px;

			&.affix {
				top: 45px;
				width: 100%;
				background-color: white !important;
				z-index: 91;
				transition: background-color 10ms ease-in;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
			}

			> .row > div {
				display: table;

				> * {
					display: inline-block;
				}
			}

			.btn {
				min-width: 30px;
				min-height: 30px;
				padding: 5px;

				&-default {
					color: black;
					background-color: transparent;
					border: none;
				}

				&-link {
					color: black;

					&:hover,
					&:focus {
						text-decoration: none;
					}
				}

				.fa {
					vertical-align: middle;
					font-size: 14px;
				}

				> span {
					@include breakpoint(screen max-width $screen-xs-max) {
						&.visible-xs {
							display: inline-block !important;
						}
					}
				}
			}

			.space {
				width: 15px;
				height: 34px;
				vertical-align: middle;
				display: inline-block;

				&-border {
					border-left: 1px dotted #b6b6b6;
					padding: 14px 0;
					margin: -10px 3px;
					display: inline-block;
				}
			}

			.dropdown {
				> button:after {
					font-family: "FontAwesome";
					content: "\f107";
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					font-size: 14px;
					line-height: 20px;
					display: inline-block;
					padding-left: 3px;
				}

				&.download {
					display: inline-block;
				}
			}

			.call-to-actions {
				.btn-group {
					float: left;
					margin-right: 15px;
				}

				.search-bar {
					display: block;
					vertical-align: middle;

					.input-group-btn {
						> .btn {
							border: 1px solid #ccc;
							background-color: white;
							color: black;

							i.fa {
								vertical-align: baseline;
								font-size: 12px;
							}
						}
					}
				}
			}

			.buttons {
				margin-top: 0;
				padding-left: 0;

				@include breakpoint(screen max-width $screen-xs-max) {
					margin-top: 15px;
					padding-left: 15px;
				}

				.btn {
					+ .btn {
						margin-left: inherit;
					}

					&-danger + .btn {
						margin-left: 10px;
					}
				}

				> .left {
					display: table;
					float: left;

					> .plot-type {
						display: inline-block;
						margin-left: 10px;

						> label {
							font-size: 12px;
							font-weight: normal;
						}
					}
				}

				> .right {
					display: table;
					float: right;
				}
			}
		}

		> .chartviewer {
			position: relative;

			&:before {
				border-top: 1px solid #737373;
				height: 1px;
				width: 100%;
			}

			&.container {
				&:before {
					margin-bottom: -1px;
				}

				&-fluid {
					&:before {
						position: absolute;
						left: 0;
						right: 0;
					}
				}
			}

			#chartviewer {
				position: relative;

				&.ui-resizable {
					padding-bottom: 17px;

					> .ui-resizable-handle {
						position: absolute;

						&.ui-resizable-s {
							height: 9px;
							left: inherit;
							bottom: 0;
							cursor: row-resize;
							position: absolute;

							&:before {
								content: "";
								display: block;
								position: absolute;
								width: 100%;
								height: 1px;
								top: 4px;
								border-bottom: 1px dotted #b6b6b6;
							}
						}

						> svg {
							position: absolute !important;
							left: 50% !important;
							transform: translateX(-50%);
							width: 32px;
							height: 9px;
						}
					}
				}
			}

			.highcharts {
				&-range-selector-buttons {
					> text {
						transform: translateY(-1px);
					}

					> .highcharts-button > rect {
						x: 0.5;
						y: -0.5;
					}
				}

				&-input-group > g > rect {
					y: -0.5;
					fill: white;
					rx: 3;
				}
			}
		}
	}

	> footer.tabs {
		form {
			.dropdown-colorselector {
				&.open {
					> .dropdown-toggle {
						box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
						color: #333;
						background-color: #e6e6e6;
						border-color: #adadad;
					}
				}

				> .dropdown-toggle {
					padding: 5px 8px;
					display: block;
					border: 1px solid rgba(115, 115, 115, 0.3);
					border-radius: 3px;

					&:hover,
					&:active,
					&.active {
						color: #333;
						background-color: #e6e6e6;
						border-color: #adadad;
					}

					> .btn-colorselector {
						width: 10px;
						height: 10px;
						display: inline-block;
						vertical-align: initial;

						+ .caret {
							margin-left: 4px;
							margin-bottom: 2px;
						}
					}
				}

				> .dropdown-menu {
					top: initial;
					left: initial;

					&.dropdown-caret {
						&:before,
						&:after {
							display: none;
						}
					}

					> li {
						> .color-btn.selected:after {
							font-family: "FontAwesome";
							content: "\f00c";
							font-size: 14px;
						}
					}
				}
			}

			&.form-inline {
				.dropdown-colorselector {
					display: inline-block;
					vertical-align: middle;
					line-height: 10px;
				}

				.form-group {
					height: 30px;
					display: table-cell;

					> label {
						font-weight: normal;
						min-width: 36px;
						padding-right: 5px;
						height: auto;
						margin: 0;
					}

					> .form-control {
						display: inline-block;
						width: auto;
					}
				}

				section.properties {
					> header {
						height: 30px;
						display: table-cell;
						vertical-align: middle;

						> span,
						> label {
							display: inline-block;
							font-size: 14px;
							font-weight: normal;
							margin: 0;
						}

						> label {
							float: left;

							&:after {
								content: "\00a0 ";
							}

							+ .btn-group {
								display: block;
								overflow: hidden;
								position: static;

								> button.dropdown-toggle {
									width: 100%;
									float: none;
									padding-right: 20px;
									text-align: left;

									&:after {
										content: "\f107";
										font-family: "FontAwesome";
										font-size: 14px;
										display: block;
										text-align: right;
										width: 10px;
										height: 100%;
										top: 50%;
										transform: translateY(-50%);
										right: 8px;
										position: absolute;
									}

									> span {
										display: block;
										overflow: hidden;
										white-space: nowrap;
										text-overflow: ellipsis;
									}

									+ .dropdown-menu {
										top: inherit;
										left: inherit;
									}
								}
							}
						}
					}

					> main {
						padding-left: 10px;

						header {
							> span {
								font-size: 12px;
								font-weight: bold;
								line-height: 14px;
								margin: 0;
								display: inline-block;
							}
						}

						section.properties {
							> header {
								> label {
									font-size: 12px;
									font-weight: bold;
									line-height: 14px;
									margin: 0;
									display: inline-block;
								}
							}
						}

						.property-item {
							display: table;
							width: 100%;

							label {
								+ .row {
									width: auto;
									display: inline-block;
									position: absolute;
									margin: 0 -5px;
									right: 0;
									left: 40px;

									> div {
										display: inline-block;
										padding: 0 5px;
										text-align: center;

										> * {
											width: 100%;
										}
									}
								}
							}
						}
					}

					.series {
						&-name {
						}

						&-color {
							background-color: red;
							display: inline-block;
							width: 16px;
							height: 10px;
							vertical-align: middle;
							margin-bottom: 2px;
						}
					}
				}

				.checkbox {
					height: 30px;
					display: table-cell;
					vertical-align: middle;

					> label {
						font-size: 12px;
						min-height: 0;
						padding-left: inherit;

						> input {
							height: 12px;
							width: 12px;
							margin: 0;
							position: relative;
						}
					}
				}

				.divider > hr {
					margin: 14px 0 15px;
					border-top: 1px dotted rgb(182, 182, 182);
				}

				.bootstrap-touchspin {
					button {
						padding: 0;
						min-width: 22px;
					}
				}
			}
		}

		.nav-tabs {
			border-bottom: none;

			+ .tab-content {
				border-top: 1px solid $color-gray-pale;
				border-bottom: 1px solid $color-gray-pale;

				> .tab-pane {
					padding: 15px 0;

					&#series {
						padding-bottom: 0;

						> header {
							padding: 0 15px;

							> .toolbar {
								> .plot-type {
									display: inline-block;

									> label {
										display: inline-block;
										float: left;
										padding-right: 4px;
										font-size: 12px;
										font-weight: normal;
										line-height: 22px;
										margin: 0;
									}
								}
							}

							> .statusbar {
								> .actions {
									margin-left: 39px;

									&:before {
										content: "";
										width: 27px;
										height: 17px;
										display: block;
										position: absolute;
										top: 10px;
										left: -32px;
										border-left: 1px dotted #b6b6b6;
										border-top: 1px dotted #b6b6b6;
									}
								}
							}

							+ .slickgrid {
								.slick {
									&-pane {
										&-header {
											position: absolute;
										}
									}

									&-header {
										margin-top: 6px;

										> .slick-header-columns {
											margin: 5px 0;

											> .slick-header-column {
												line-height: 18px;

												&:first-child {
													> .slick-column-name {
														display: inline;

														> input[type="checkbox"] {
															width: 14px;
															height: 14px;
															margin: 2px 0;
															display: block;
														}
													}
												}

												&:last-child {
													border-right-color: transparent;
												}
											}
										}
									}

									&-headerrow-columns {
										margin: 5px 0;
									}

									&-viewport {
										border-bottom: none;

										> .grid-canvas {
											min-height: 60px;
											max-height: 300px;
											overflow-y: hidden;
											-ms-overflow-style: -ms-autohiding-scrollbar;

											&.empty > div {
												height: inherit;
												display: table-cell;
												vertical-align: middle;
												text-align: center;
												cursor: default;
												color: rgb(182, 182, 182);

												> .button-like {
													display: inline-block;
													border: 1px solid rgb(182, 182, 182);
													border-radius: 3px;
													padding: 1px 5px;
													font-size: 12px;
													line-height: 1.5;
												}
											}

											> .slick-row {
												&:hover {
													background-color: rgba(192, 192, 192, 0.3);

													.btn-default {
														color: black;
														border-color: rgba(115, 115, 115, 0.3);
													}
												}

												&.active {
													background-color: rgba(192, 192, 192, 0.4) !important;

													.btn-default {
														color: black;
														border-color: rgba(115, 115, 115, 0.3);
													}
												}

												button {
													line-height: 20px;

													&.active[data-toggle="button"] {
														width: 30px;
														padding: 0;
														box-shadow: inset 0 4px 8px rgba(black, 0.2);
														cursor: default;
														background-color: rgba(black, 0.35);
														border-color: #737373;
														color: white;
													}
												}

												> .slick-cell {
													padding: 4px 5px;
													height: 22px;

													&.checkbox-select {
														padding-left: 15px;
														padding-right: 10px;

														> input[type="checkbox"] {
															width: 14px;
															height: 14px;
														}
													}

													&.key {
														padding-left: 10px;
														padding-right: 10px;

														hr {
															margin: 0;
															border-color: #00305c;
															border-style: solid;
															border-top-width: 2px;
															border-bottom-width: 2px;
															border-radius: 2px;
															display: inline-block;
															vertical-align: middle;
															width: 100%;
														}
													}

													&.var,
													&.name {
														padding-left: 4px;
													}

													&.expression {
														padding-left: 4px;

														> input.form-control {
															font-family: Monaco, "Courier New", Courier,
																"Lucida Console", monospace;
															font-size: 11px;
														}

														> .input-clear > input.form-control {
															font-family: Monaco, "Courier New", Courier,
																"Lucida Console", monospace;
															font-size: 11px;

															+ button.clear {
																border: none;
																width: auto;
																min-width: 22px;
																padding: 0;
																height: 100%;
															}
														}
													}

													&.axis {
														.btn-group {
															box-sizing: border-box;
															display: block;

															> label.btn {
																box-sizing: border-box;
																padding: 2px 0;
																height: 22px;
																width: 26px;
																z-index: 1;

																&.active {
																	box-shadow: inset 0 4px 8px rgba(black, 0.2);
																	cursor: default;
																	background-color: rgba(black, 0.35);
																	border-color: #737373;
																	color: white;
																	z-index: 2;
																}

																+ .btn {
																	margin-left: -1px;
																}

																> input[type="radio"] {
																	margin: 0;
																}
															}
														}
													}

													&.action {
														.btn {
															display: block;
															float: left;
														}
													}

													&.selected {
														background-color: rgba(202, 36, 32, 0.05);
													}

													input.form-control,
													.input-clear > input.form-control {
														line-height: normal;
														padding: 0 10px;
														height: 22px;
														box-sizing: border-box;
													}

													> button.btn {
														padding: 1px 8px;
														border: none;
														border-radius: 3px;
														min-width: 30px;
														box-sizing: border-box;

														+ .btn {
															margin-left: 0;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			> li {
				&.chevron {
					> button.btn {
						padding: 10px 15px;
						border: 0;
						box-shadow: none;
						border-radius: 0;
						background-color: transparent;

						> .fa {
							height: 14px;
							width: 14px;
							text-align: center;

							&:before {
								content: "\f078";
							}
						}
					}
				}

				&.active {
					> a {
						&,
						&:hover,
						&:focus {
							text-decoration: none;
							background-color: transparent;
							border: 1px solid $color-gray-pale;
							border-bottom-color: $color-bg;
							color: #9d9d9d;
							padding: 12px 15px 10px;
						}
					}
				}

				> a {
					padding: 11px 15px;
					text-decoration: underline;
				}
			}

			&-collapsed {
				> li {
					&.chevron {
						> button.btn {
							> .fa {
								&:before {
									content: "\f054";
								}
							}
						}
					}

					&.active {
						> a {
							&,
							&:hover,
							&:focus {
								padding: 11px 15px;
								border-bottom-color: $color-gray-pale;
							}
						}
					}
				}

				+ .tab-content {
					display: none;
				}
			}
		}
	}
}
